*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    height: 50px;
    background-color: #2B2D2F;
    width: 100%;
    
    
}
header{
    position: sticky;
}
img{
    height: 70px;
    width: 70px;
}
ul{
    
}
ul li{
    display: inline;
}
.head{
    height: 100px;
    width: 100%;
    background-image: linear-gradient(to right, white, lightgreen);
}
.head img{
    padding: 10px;
    position: absolute;
    left: 30px;
}
.head h1{
    padding: 10px 10px;
    font-style: italic;
    color: lightgreen;
    font-weight: bolder;
}
.top_image{
    height: 200px;
    width: 100%;
}
.top_image img{
    height: 200px;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
}
.links{
    height: 40px;
    width: 80%;
    border: 1px solid black;
    background-color: #088E56;
    position: absolute;
    top: 150px;
    left: 120px;
}
.links a{
    color: black;
    text-decoration: none;
    padding: 40px 60px;

}
.links a:hover{
    color: white;
}
.home_nav{
    position: absolute;
    top: 210px;
    display: flex;
    left: 500px;
    
    
}
.home_nav a:hover{
    color: white;
}
.home_nav ul li a{
    text-decoration: none;
}
.about_page{
    display: flex;
    padding: 20px 60px;
    justify-content: center;

}
.mission_statement{
    height: 300px;
    width: 500px;
    border: 1px solid green;
    text-align: center;
    padding: 20px;
    margin: 0 3%;
    border-radius: 20px;
    

}
.mission_vision{
    height: 300px;
    width: 350px;
    border: 1px solid green;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
}

/* The body gif */
.gif{
    width: 100%;
    height: 400px;
    padding: 10px 10px 10px;
}
.gif img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section{
    height: 300px;
    width: 100%;
    
    display: flex;
    padding: 10px;
    text-align: center;
    padding:20px 20px 20px;
   
}
.section1{
    padding:20px 20px 20px;
    margin: 0 3%;
    
    text-align: center;
}
.section2{
    padding:20px 20px 20px;
    margin: 0 3%;
    
    text-align: center;
}

.section3{
    padding:20px 20px 20px;
    margin: 0 3%;
    
    text-align: center;
}
.section4{
    padding:20px 20px 20px;
    margin: 0 3%;
    
    text-align: center;
}
h2{
    padding: 10px;
}
/* The team */
.team{
    height: 250px;
    width: 100%;
    background-color: #26AB73;
    
}
.team ul li{
    display: inline-block;
    margin: 0 2%;
    padding:10px 10px 20px;

}
.team h3{
    text-align: center;
    padding: 20px;
}
.team p{
    text-align: center;
    padding: 20px;
    font-size: 40px;
}
#submit{
    height: 50px;
    width: 100px;
    background-color: #088E56;
    color: white;
    margin-left: 80px;
    border-radius: 20px 20px 0px 20px;
}
.contacts{
    height: 300px;
    background-color: #083111;
}