.iconz{
    background-color: #000000;

}
html{
    background-color: #c4c4c4;

}

.navigation ul li,img{
    display: inline;
}
.navigation{
    background-color: #088E56;
}

.company{
    background-color: black;

}

.midPage{
    display: flex;
}
.form{
    background-color: #088E56;
    flex-grow: 1.5;
}
.map{
    flex-grow: 1;
    

}

.regions{
    display: flex;
    justify-content: center;
    background-color: white;
}


.regions img{
    border-radius: 50%;
}